.header {
    height: 61px;
    width: 1840px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    align-items: center;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 8px;
}
