:root {
    --color-bg: rgba(252, 226, 255, 1);
    /* --color-text: #fff; */
    --font-main: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    /* color: var(--color-text); */
    font-family: var(--font-main);
}
